# Ansible configured 
deb {{ repo.proto }}://{{ repo.host }}/{{ repo.root }}/ {{ repo.flavors }} main contrib
deb {{ repo.proto }}://{{ repo.host }}/{{ repo.root }}/ {{ repo.flavors }}-updates main contrib
deb {{ repo.proto }}://{{ repo.host }}/{{ repo.root }}/ {{ repo.flavors }}-backports main contrib
deb {{ repo.proto }}://{{ repo.host }}/{{ repo['root-sec'] }}/ {{ repo.flavors }}-security main contrib