deb http://repos.uclv.edu.cu/debian bookworm main contrib
deb http://repos.uclv.edu.cu/debian bookworm-updates main contrib
deb http://repos.uclv.edu.cu/debian bookworm-backports main contrib 
deb http://repos.uclv.edu.cu/debian-security bookworm-security main contrib